<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../static/nav.css">
  <link rel="stylesheet" href="../static/animation.css" />
  <link rel="stylesheet" href="../static/footer.css">
</head>

<body>
  <nav id="navbar">
    <div id="logo">
      <a href="index.html">
        <img src="../static/imgs/logos/Mates.png" alt="">
      </a>
      <div id="ham" onclick="showHide()">
        <img src="../static/imgs/hamburger.svg" id="hame">
      </div>
    </div>
    <div id="data">
      <div id="content1">
        <a href="animation.html">Animation</a>
        <a href="cybersec.html">Cyber Security</a>
        <a href="webDev.html">Web Development</a>
      </div>
    </div>
    <!-- For mobile -->
    <div id="mdata">
      <a href="animation.html">Animation</a>
      <a href="cybersec.html">Cyber Security</a>
      <a href="webDev.html">Web Development</a>
    </div>
    </div>
  </nav>
  <div id="mainContainer">
    <section id="container1">
      <video id="background-video" autoplay loop muted>
        <source type="video/mp4" src="../static/videos/for_animation/pexels-mart-production-7565463.mp4">
      </video>
      <div id="content">
        <h1>Cyber Security</h1>
        <p>testing testing testing test</p>
      </div>
    </section>
    <div id="container2">
      <div id="c2-field1">
        <img src="../static/imgs/logos/mates_Character.png">
        <h2>About Us</h2>
        <p>Mates Animations Academy is Professional Institute of Training center in Pokhara that offers
          3D animation and visual effects courses. We offer animation career training with the best
          professional faculties (work in various large projects and studios) in a high technological
          environment that focuses on education quality.</p>
      </div>
      <div id="c2-field2">
        <img src="../static/imgs/imgs_for_animation/pexels-eberhard-grossgasteiger-2086361.jpg">
      </div>
    </div>
    <div id="container3">
      <h3>Explore courses, topics and skills</h3>
      <div id="mainContainer">
        <div class="a-container">
          <div class="box">
            <img src="../static/imgs/imgs_for_animation/img2_cards.jpg" alt="" />
            <div class="box-cotent">
              <h2>Concept Art</h2>
              <p>Concept art is a form of visual art used to convey an idea for use in films, video games, animation, comic books, or other media before it is put into the final product</p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="box">
            <img src="../static/imgs/imgs_for_animation/img2_cards.jpg" alt="" />
            <div class="box-cotent">
              <h2>Modeling</h2>
              <p>3D modeling is the process of developing a mathematical coordinate-based object in three dimensions via specialized software in a simulated 3D space.</p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="box">
            <img src="../static/imgs/imgs_for_animation/img2_cards.jpg" alt="" />
            <div class="box-cotent">
              <h2>UV Mapping</h2>
              <p>UV mapping is the 3D modeling process of projecting a 2D image to a 3D model's surface for texture mapping.</p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="box">
            <img src="../static/imgs/imgs_for_animation/img2_cards.jpg" alt="" />
            <div class="box-cotent">
              <h2>Texturing</h2>
              <p>Texture mapping is a method for mapping a texture on a computer-generated graphic. Texture here can be high frequency detail, surface texture, or color.</p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="box">
            <img src="../static/imgs/imgs_for_animation/img2_cards.jpg" alt="" />
            <div class="box-cotent">
              <h2>Lighting</h2>
              <p> 3D Lighting is the collection of tools and techniques used to simulate light in a computer-generated 3D environment</p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="box">
            <img src="../static/imgs/imgs_for_animation/img2_cards.jpg" alt="" />
            <div class="box-cotent">
              <h2>Animation</h2>
              <p>Computer animation or CGI is the process used for digitally generating animations which encompasses both static scenes and dynamic images</p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="box">
            <img src="../static/imgs/imgs_for_animation/img2_cards.jpg" alt="" />
            <div class="box-cotent">
              <h2>VFX</h2>
              <p>Visual effects is the process by which imagery is created or manipulated outside the context of a live-action shot in filmmaking and video production.</p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="box">
            <img src="../static/imgs/imgs_for_animation/img2_cards.jpg" alt="" />
            <div class="box-cotent">
              <h2>Rendering</h2>
              <p>Rendering is the process of generating a photorealistic or non-photorealistic image from a 2D or 3D model by means of a computer program.</p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="box">
            <img src="../static/imgs/imgs_for_animation/img2_cards.jpg" alt="" />
            <div class="box-cotent">
              <h2>Post production</h2>
              <p>Post-production includes all stages of production occurring after principle photography or recording individual program segments.</p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="box">
            <img src="../static/imgs/imgs_for_animation/img2_cards.jpg" alt="" />
            <div class="box-cotent">
              <h2>Graphic Designing</h2>
              <p>Graphic design is a activity consistsing projecting visual communications intended to transmit specific messages to social groups, with specific objectives.</p>
              <a href="#">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer id="foot">
    <div id="f-container1">
      <div class="box box1">
        <div class="box-logo">
          <a href="index.html">
            <img src="../static/imgs/logos/Mates.png" alt="">
          </a>
        </div>
        <div class="element1">
          <a href="#"><img src="../static/imgs/icons/facebook-icon.svg" alt=""></a>
          <a href="#"><img src="../static/imgs/icons/black-instagram-icon.svg" alt=""></a>
          <a href="#"><img src="../static/imgs/icons/youtube-icon.svg" alt=""></a>
        </div>
        <div class="element2">
          <img src="../static/imgs/icons/phone-call-icon.svg">
          <p>+977 9856079257</p>
        </div>
        <div class="element3">
          <img src="../static/imgs/icons/envelope-line-icon.svg">
          <p>info@meropadhai.com</p>
        </div>
      </div>
      <div class="box box2">
        <h1>Courses</h1>
        <a href="courses.html">Explore</a>
      </div>
      <div class="box box3">
        <h1>Quick Links</h1>
        <a href="animation.html">Animation</a>
        <a href="cybersec.html">Cyber Security</a>
        <a href="webDev.html">Web Development</a>
      </div>
      <div class="box box4">
        <h1>More</h1>
        <a href="#">Developers</a>
      </div>
    </div>
    <div id="f-container2">
      <p>&copy; 2022,NameCompany. All rights reserved.</p>
    </div>
  </footer>
  <script src="../static/js/nav.js"></script>
</body>

</html>
<!-- Test1234..! -->