<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <link rel="stylesheet" href="../static/nav.css">
    <link rel="stylesheet" href="../static/courses.css">
</head>
<body>
    <nav id="navbar">
        <div id="logo">
          <a href="index.html">
            <h1>Logo</h1>
          </a>
          <div id="ham" onclick="showHide()">
            <img src="../static/imgs/hamburger.svg" id="hame">
          </div>
        </div>
        <div id="data">
          <div id="content1">
            <a href="#">Animation</a>
            <a href="cybersec.html">Cyber Security</a>
            <a href="webDev.html">Web Development</a>
          </div>
        </div>
        <!-- For mobile -->
        <div id="mdata">
            <a href="#">Animation</a>
            <a href="cybersec.html">Cyber Security</a>
            <a href="webDev.html">Web Development</a>
        </div>
      </div>
    </nav>
    <div id="mainContainer">
        <div class="upper-content">
            <h3>Explore courses, topics and skills</h3>
        </div>
        <div id="grid">
            <div class="grid_item">
                <div class="card">
                    <img src="../static/imgs/imgs_for_webDev/pixeltrue-web-development.svg" alt="Hacking">
                    <div class="card-content">
                        <h2>Animation</h2>
                        <h4>Course Details</h4>
                        <ul>
                            <li>online / physical classes</li>
                            <li>Duration: 2 month</li>
                            <li>1hr per day.</li>
                            <li>Total: Rs.18000 + 2000 Admission fee</li>
                        </ul>
                        <strong>
                            For enrol ment, call us at: 00000000,test@gmail.com
                        </strong>
                    </div>
                </div>
            </div>
            <div class="grid_item">
                <div class="card">
                    <img src="../static/imgs/imgs_for_webDev/pixeltrue-web-development.svg" alt="Hacking">
                    <div class="card-content">
                        <h2>Cyber Security</h2>
                        <h4>Course Details</h4>
                        <ul>
                            <li>online / physical classes</li>
                            <li>Duration: 2 month</li>
                            <li>1hr per day.</li>
                            <li>Total: Rs.18000 + 2000 Admission fee</li>
                        </ul>
                        <strong>
                            For enrol ment, call us at: 00000000,test@gmail.com
                        </strong>
                    </div>
                </div>
            </div>
            <div class="grid_item">
                <div class="card">
                    <img src="../static/imgs/imgs_for_webDev/pixeltrue-web-development.svg" alt="Hacking">
                    <div class="card-content">
                        <h2>Web Development</h2>
                        <h4>Course Details</h4>
                        <ul>
                            <li>online / physical classes</li>
                            <li>Duration: 2 month</li>
                            <li>1hr per day.</li>
                            <li>Total: Rs.14000 + 2000 Admission fee</li>
                        </ul>
                        <strong>
                            For enrol ment, call us at: 00000000,test@gmail.com
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="foot">
        <div id="f-container1">
            <div class="box box1">
                <div class="box-logo">
                    <a href="#">Logo</a>
                </div>
                <div class="element1">
                    <a href="#"><img src="../static/imgs/icons/facebook-icon.svg" alt=""></a>
                    <a href="#"><img src="../static/imgs/icons/black-instagram-icon.svg" alt=""></a>
                    <a href="#"><img src="../static/imgs/icons/youtube-icon.svg" alt=""></a>
                </div>
                <div class="element2">
                    <img src="../static/imgs/icons/phone-call-icon.svg">
                    <p>+977 9856079257</p>
                </div>
                <div class="element3">
                    <img src="../static/imgs/icons/envelope-line-icon.svg">
                    <p>info@meropadhai.com</p>
                </div>
            </div>
            <div class="box box2">
                <h1>Courses</h1>
                <a href="#">Explore</a>
            </div>
            <div class="box box3">
                <h1>Quick Links</h1>
                <a href="#">Animation</a>
                <a href="cybersec.html">Cyber Security</a>
                <a href="webDev.html">Web Development</a>
            </div>
            <div class="box box4">
                <h1>More</h1>
                <a href="#">Developers</a>
            </div>
        </div>
        <div id="f-container2">
            <p>&copy; 2022,NameCompany. All rights reserved.</p>
        </div>
      </footer>
      <script src="../static/js/nav.js"></script>
    
</body>
</html>