<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/nav.css">
    <link rel="stylesheet" href="../static/footer.css">
    <link rel="stylesheet" href="../static/cybersec.css">
  </head>
  <body onload="slider()">
    <nav id="navbar">
      <div id="logo">
        <a href="index.html">
          <img src="../static/imgs/Mates.png" alt="">
        </a>
        <div id="ham" onclick="showHide()">
          <img src="../static/imgs/hamburger.svg" id="hame">
        </div>
      </div>
      <div id="data">
        <div id="content1">
          <a href="animation.html">Animation</a>
          <a href="cybersec.html">Cyber Security</a>
          <a href="webDev.html">Web Development</a>
        </div>
      </div>
      <!-- For mobile -->
      <div id="mdata">
          <a href="animation.html">Animation</a>
          <a href="cybersec.html">Cyber Security</a>
          <a href="webDev.html">Web Development</a>
      </div>
    </div>
    </nav>
    <div id="mainContainer">
      <div id="container1">
        <div id="c1-field">
          <div id="c1-background">
          </div>
          <div id="c1-content">
              <h1>Cyber Security</h1>
              <p>Power & Responsibility</p>
          </div>
        </div>
      </div>
      <div id="container2">
        <div id="c2-field1">
          <img src="../static/imgs/imgs_for_csec/c_sec.png" alt="">
        </div>
        <div id="c2-field2">
          <h1>What is Hacking</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum corporis eaque sit recusandae illo, a vero labore assumenda molestiae nam sapiente eius in maxime dicta blanditiis dolore repudiandae reiciendis tenetur soluta esse rem repellendus!</p>
        </div>
      </div>
      <div id="container3">
        <div id="c3-field1">
          <h1>Is hacking leagal?</h1>
          <p>Well let's see bellow</p>
        </div>
        <div id="c3-field2">
          <div id="c3-f2-layer1">
            <div id="c3-f2-l1-card">
              <img src="../static/imgs/imgs_for_csec/gray_h.png">
              <h2>Gray Hat</h2>
              <p>A grey hat is a computer hacker, who may sometimes violate laws or typical ethical standards, but usually does not have the malicious intent typical of a black hat hacker</p>
            </div>
          </div>
          <div id="c3-f2-layer2">
            <div id="c3-f2-l2-card1">
              <img src="../static/imgs/imgs_for_csec/gray_h.png">
              <h2>White Hat</h2>
              <p>White Hat hackers work with companies to improve their security by finding vulnerabilities and exploits that could be used by a malicious user.
              </p>
            </div>
            <div id="c3-f2-l2-image">
              <img src="../static/imgs/imgs_for_csec/cImg.png">
            </div>
            <div id="c3-f2-l2-card2">
              <img src="../static/imgs/imgs_for_csec/gray_h.png">
              <h2>Black Hat</h2>
              <p>A black hat hacker is a hacker who violates computer security for their own personal profit or out of malice.</p>
            </div>
          </div>
        </div>
      </div>
      <div id="container4">
         <div id="c4-field1">
          <h1>Why Cyber Security</h1>
         </div>
         <div id="c4-field2">
          <div id="c4-f2-l1">
            <img src="../static/imgs/imgs_for_csec/lock.png">
          </div>
          <div id="c4-f2-l2">
            <section>
              <div class="container reveal">
                <div class="text-container">
                  <div class="text-box">
                    <h3> Practically unlimited growth</h3>
                    <p>
                      With an ever-expanding scope, cybersecurity presents the ultimate growth potential—both in your career path and for learning opportunities.
                    </p>
                  </div>
                  <div class="text-box">
                    <h3>Plenty of variety</h3>
                    <p>
                      All of the opportunities for growth are tied to the variety of technologies and situations security professionals have to deal with. If it uses ones and zeros, it has a cybersecurity component.
                    </p>
                  </div>
                  <div class="text-box">
                    <h3>The ability to solve puzzles</h3>
                    <p>
                      In cybersecurity we rely on some tried-and-true principles, but the tactics can change day-to-day. And there's always a new puzzle that needs to be solved.
                    </p>
                  </div>
                  <div class="text-box">
                    <h3>The job has real impact</h3>
                    <p>
                      Cybersecurity matters. It has impacts that extend beyond the digital world and into the physical one.
                    </p>
                  </div>
                </div>
              </div>
            </section>
          </div>
         </div>
      </div>
      <div id="container5">
        <div class="career_content">
          <h1>Career from our Courses:</h1>
          <div class="c5-container">
            <div class="card">
              <div class="box">
                <div class="content">
                  <h3>Security Analyst</h3>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="box">
                <div class="content">
                  <h3>Security Architect</h3>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="box">
                <div class="content">
                  <h3>Penetration Tester</h3>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="box">
                <div class="content">
                  <h3>Incident Responder</h3>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="box">
                <div class="content">
                  <h3>Security Specialist</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="container6">
        <img src="../static/imgs/imgs_for_csec/standingMan.png" alt="">
        <h1>Security is never a destination,<span> Let's join our hands </span> we're on together</h1>
      </div>
    </div>
    <footer id="foot">
      <div id="f-container1">
          <div class="box box1">
              <div class="box-logo">
                <a href="index.html">
                  <img src="../static/imgs/Mates.png" alt="">
                </a>
              </div>
              <div class="element1">
                  <a href="#"><img src="../static/imgs/icons/facebook-icon.svg" alt=""></a>
                  <a href="#"><img src="../static/imgs/icons/black-instagram-icon.svg" alt=""></a>
                  <a href="#"><img src="../static/imgs/icons/youtube-icon.svg" alt=""></a>
              </div>
              <div class="element2">
                  <img src="../static/imgs/icons/phone-call-icon.svg">
                  <p>+977 9856079257</p>
              </div>
              <div class="element3">
                  <img src="../static/imgs/icons/envelope-line-icon.svg">
                  <p>info@meropadhai.com</p>
              </div>
          </div>
          <div class="box box2">
              <h1>Courses</h1>
              <a href="courses.html">Explore</a>
          </div>
          <div class="box box3">
              <h1>Quick Links</h1>
              <a href="animation.html">Animation</a>
              <a href="cybersec.html">Cyber Security</a>
              <a href="webDev.html">Web Development</a>
          </div>
          <div class="box box4">
              <h1>More</h1>
              <a href="#">Developers</a>
          </div>
      </div>
      <div id="f-container2">
          <p>&copy; 2022,NameCompany. All rights reserved.</p>
      </div>
    </footer>
    <script src="../static/js/reveal.js"></script>
    <script src="../static/js/nav.js"></script>
    <script src="../static/js/slider.js"></script>
  </body>
</html>
