<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/nav.css">
    <link rel="stylesheet" href="../static/index.css" />
    <link rel="stylesheet" href="../static/footer.css">
  </head>
  <body>
    <nav id="navbar">
      <div id="logo">
        <a href="index.html">
          <img src="../static/imgs/logos/Mates.png" alt="">
        </a>
        <div id="ham" onclick="showHide()">
          <img src="../static/imgs/hamburger.svg" id="hame">
        </div>
      </div>
      <div id="data">
        <div id="content1">
          <a href="animation.html">Animation</a>
          <a href="cybersec.html">Cyber Security</a>
          <a href="webDev.html">Web Development</a>
        </div>
      </div>
      <!-- For mobile -->
      <div id="mdata">
          <a href="#">Animation</a>
          <a href="cybersec.html">Cyber Security</a>
          <a href="webDev.html">Web Development</a>
      </div>
    </div>
    </nav>
    <div id="mainContainer">
      <div id="container1">
        <div id="c1-field1">
          <div id="c1-f1-datafield1">
            <h1>
              Education is the key to future <br /><consectetur class="span"
                >and it is right at your fingertips.</consectetur
              >
            </h1>
          </div>
          <div id="c1-f1-datafield2">
            <p>
              Join us and learn in a proactive medium with the help of our
              resourceful lecture videos. Use the PDF files to enhance your
              learning experience and assess your progress utilising the
              chapter-based Quiz.
            </p>
          </div>
          <div id="c1-f1-datafield3"></div>
        </div>
        <div id="c1-field2">
          <img src="../static/imgs/books.jpg" />
        </div>
      </div>
      <div id="container2">
        <div id="c2-field1">
          <div class="c2-f1-box" id="c2-f1-box1">
            <div class="image">
              <img src="../static/imgs/video-lectures.svg" />
            </div>
            <div class="heading">
              <h1>Video lectures</h1>
            </div>
            <div class="paragraph">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
                reiciendis alias ex ratione voluptas laborum.
              </p>
            </div>
          </div>
          <div class="c2-f1-box" id="c2-f1-box2">
            <div class="image">
              <img src="../static/imgs/lecture-notes.svg" alt="" />
            </div>
            <div class="heading">
              <h1>Lecture Notes</h1>
            </div>
            <div class="paragraph">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
                reiciendis alias ex ratione voluptas laborum.
              </p>
            </div>
          </div>
          <div class="c2-f1-box" id="c2-f1-box3">
            <div class="image">
              <img src="../static/imgs/quiz-yourself.svg" alt="" />
            </div>
            <div class="heading">
              <h1>Quize Yourself</h1>
            </div>
            <div class="paragraph">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
                reiciendis alias ex ratione voluptas laborum.
              </p>
            </div>
          </div>
          <div class="c2-f1-box" id="c2-f1-box4">
            <div class="image">
              <img src="../static/imgs/live-schedule.svg" />
            </div>
            <div class="heading">
              <h1>Schedule Live Classes</h1>
            </div>
            <div class="paragraph">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
                reiciendis alias ex ratione voluptas laborum.
              </p>
            </div>
          </div>
        </div>
        <div id="c2-field2">
          <div id="title">Lorem, ipsum.</div>
          <div id="element2">Lorem, <span>ipsum dolor.</span></div>
          <span id="line"></span>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta
            unde provident sit. Explicabo sed quaerat ut numquam cupiditate, eos
            nobis consequuntur sit magnam? Recusandae nemo adipisci saepe unde
            ab pariatur eligendi molestiae velit reiciendis ut labore non,
            dolorem nisi at ex harum debitis culpa dignissimos quasi corporis
            sint! Distinctio accusantium ad possimus exercitationem illum
            doloremque veritatis delectus quasi aut. Odio molestias est tenetur.
            Aperiam id eveniet amet obcaecati possimus odio earum non magnam
            repellendus est impedit quo debitis, nemo reprehenderit architecto
            natus sapiente laboriosam magni dolore iure, voluptate rerum ea
            modi. Tempore!
          </p>
        </div>
      </div>
      <div id="container3">
        <div id="c3-field1">
          <img src="../static/imgs/head.jpg" />
        </div>
        <div id="c3-field2">
          <div id="c3-f2-box1">
            <h1>Wanna change,</h1>
            <h1>Your <span id="orange">days?</span></h1>
            <p>Let's join hands.</p>
          </div>
          <div id="c3-f2-box2">
            <div class="c3-f2-box2-element1 elements">
              <div class="c3-f2-box2-sub-part1">
                <img src="../static/imgs/graduated.png" />
              </div>
              <div class="c3-f2-box2-sub-part2">
                <h1>Animation</h1>
                <p>
                  Education is the best investment because it yields the best
                  interest. We present you with a gift for the future that none
                  can take away.
                </p>
              </div>
            </div>
            <div class="c3-f2-box2-element2 elements">
              <div class="c3-f2-box2-sub-part1">
                <img src="../static/imgs/short_courses.png" />
              </div>
              <div class="c3-f2-box2-sub-part2">
                <h1>Cyber Security</h1>
                <p>
                  What's <span id="s-one">hacking?</span> Where's your <span id="s-two">data?</span> Is it <span id="s-there">secure?</span> Wanna know?<br>How about learning Cyber Security?
                </p>
              </div>
            </div>
            <div class="c3-f2-box2-element3 elements">
              <div class="c3-f2-box2-sub-part1">
                <img src="../static/imgs/learn_from_expert.png" />
              </div>
              <div class="c3-f2-box2-sub-part2">
                <h1>Web Development</h1>
                <p>
                  Dive into the building blocks of the very site you are visiting.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="container4">
        <div id="c4-field1">
          <h1>What Student Say</h1>
          <p>
            We pride ourselves on providing an exceptional service to our
            students, but you don’t just have to take our word for it. Read what
            our students have to say about working with us.
          </p>
        </div>
        <div id="c4-field2">
          <div class="c4-f2-box">
            <div class="c4-f2-box-element1">
              <div class="c4-f2-box-e1-sub1">
                <img src="../static/imgs/avatar-male.jpg" alt="" />
                <div class="c4-f2-box-e1-sub2">
                  <h1>Web NightRaid</h1>
                  <p>Student</p>
                </div>
              </div>
              <div class="c4-f2-box-e1-sub3">
                <img src="../static/imgs/star-symbol-icon.svg" />
                <img src="../static/imgs/star-symbol-icon.svg" />
                <img src="../static/imgs/star-empty-icon.svg" />
                <img src="../static/imgs/star-empty-icon.svg" />
                <img src="../static/imgs/star-empty-icon.svg" />
              </div>
            </div>
            <div class="c4-f2-box-element2">
              <p>
                With a great course instructor and briefly explained syllabus,
                it's one of the most amazing courses I've taken through Mero
                Padhai so far. Throughout the entire specialisation, there are
                countless opportunities to get useful insights.
              </p>
            </div>
          </div>
          <div class="c4-f2-box">
            <div class="c4-f2-box-element1">
              <div class="c4-f2-box-e1-sub1">
                <img src="../static/imgs/avatar-female.jpg" alt="" />
                <div class="c4-f2-box-e1-sub2">
                  <h1>Cloudy NightRaid</h1>
                  <p>Student</p>
                </div>
              </div>
              <div class="c4-f2-box-e1-sub3">
                <img src="../static/imgs/star-symbol-icon.svg" />
                <img src="../static/imgs/star-symbol-icon.svg" />
                <img src="../static/imgs/star-empty-icon.svg" />
                <img src="../static/imgs/star-empty-icon.svg" />
                <img src="../static/imgs/star-empty-icon.svg" />
              </div>
            </div>
            <div class="c4-f2-box-element2">
              <p>
                In my POV, the most beneficial part of this whole platform is
                the ability to study whenever and wherever possible. And on top
                of it, this platform is also inexpensive compared to traditional
                tutoring..
              </p>
            </div>
          </div>
          <div class="c4-f2-box">
            <div class="c4-f2-box-element1">
              <div class="c4-f2-box-e1-sub1">
                <img src="../static/imgs/avatar-female.jpg" alt="" />
                <div class="c4-f2-box-e1-sub2">
                  <h1>Galaxy NightRaid</h1>
                  <p>Student</p>
                </div>
              </div>
              <div class="c4-f2-box-e1-sub3">
                <img src="../static/imgs/star-symbol-icon.svg" />
                <img src="../static/imgs/star-symbol-icon.svg" />
                <img src="../static/imgs/star-empty-icon.svg" />
                <img src="../static/imgs/star-empty-icon.svg" />
                <img src="../static/imgs/star-empty-icon.svg" />
              </div>
            </div>
            <div class="c4-f2-box-element2">
              <p>
                Mero Padhai is a great online learning platform for students in
                Nepal. The platform is very user-friendly and the courses are
                well-structured. Overall, I highly recommend mero Padhai to
                anyone looking for an online learning platform in Nepal.
              </p>
            </div>
          </div>
          <div class="c4-f2-box">
            <div class="c4-f2-box-element1">
              <div class="c4-f2-box-e1-sub1">
                <img src="../static/imgs/avatar-male.jpg" alt="" />
                <div class="c4-f2-box-e1-sub2">
                  <h1>Blade NightRaid</h1>
                  <p>Student</p>
                </div>
              </div>
              <div class="c4-f2-box-e1-sub3">
                <img src="../static/imgs/star-symbol-icon.svg" />
                <img src="../static/imgs/star-symbol-icon.svg" />
                <img src="../static/imgs/star-empty-icon.svg" />
                <img src="../static/imgs/star-empty-icon.svg" />
                <img src="../static/imgs/star-empty-icon.svg" />
              </div>
            </div>
            <div class="c4-f2-box-element2">
              <p>
                Mero Padhai works well for us. It is inexpensive and easy to
                use, yet has advanced administrative features.
              </p>
            </div>
          </div>
        </div>
      </div>
      <footer id="foot">
        <div id="f-container1">
            <div class="box box1">
                <div class="box-logo">
                  <a href="index.html">
                    <img src="../static/imgs/Mates.png" alt="">
                  </a>
                </div>
                <div class="element1">
                    <a href="#"><img src="../static/imgs/icons/facebook-icon.svg" alt=""></a>
                    <a href="#"><img src="../static/imgs/icons/black-instagram-icon.svg" alt=""></a>
                    <a href="#"><img src="../static/imgs/icons/youtube-icon.svg" alt=""></a>
                </div>
                <div class="element2">
                    <img src="../static/imgs/icons/phone-call-icon.svg">
                    <p>+977 9856079257</p>
                </div>
                <div class="element3">
                    <img src="../static/imgs/icons/envelope-line-icon.svg">
                    <p>info@meropadhai.com</p>
                </div>
            </div>
            <div class="box box2">
                <h1>Courses</h1>
                <a href="courses.html">Explore</a>
            </div>
            <div class="box box3">
                <h1>Quick Links</h1>
                <a href="animation.html">Animation</a>
                <a href="cybersec.html">Cyber Security</a>
                <a href="webDev.html">Web Development</a>
            </div>
            <div class="box box4">
                <h1>More</h1>
                <a href="#">Developers</a>
            </div>
        </div>
        <div id="f-container2">
            <p>&copy; 2022,NameCompany. All rights reserved.</p>
        </div>
      </footer>
    </div>
    <script src="../static/js/nav.js"></script>
  </body>
</html>
<!-- Test1234..! -->
