<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/nav.css">
    <link rel="stylesheet" href="../static/webDev.css">
  </head>
  <body onload="slider()">
    <nav id="navbar">
      <div id="logo">
        <a href="index.html">
          <img src="../static/imgs/Mates.png" alt="">
        </a>
        <div id="ham" onclick="showHide()">
          <img src="../static/imgs/hamburger.svg" id="hame">
        </div>
      </div>
      <div id="data">
        <div id="content1">
          <a href="animation.html">Animation</a>
          <a href="cybersec.html">Cyber Security</a>
          <a href="webDev.html">Web Development</a>
        </div>
      </div>
      <!-- For mobile -->
      <div id="mdata">
          <a href="animation.html">Animation</a>
          <a href="cybersec.html">Cyber Security</a>
          <a href="webDev.html">Web Development</a>
      </div>
    </div>
    </nav>
    <div id="mainContainer">
      <div id="container1">
        <div id="c1-field1">
          <h1>Web</h1>
          <h1>Developement</h1>
        </div>
        <div id="c1-field2">
          <img src="../static/imgs/imgs_for_webDev/pixeltrue-web-development.svg" alt="">
        </div>
      </div>
      <div id="container2">
        <img src="../static/imgs/imgs_for_webDev/undraw_web_development_0l6v.svg">
        <div id="c2-field">
          <h1>What is web development?</h1>
          <p>Web development is the work involved in developing a website for the Internet or an intranet. Web development can range from developing a simple single static page of plain text to complex web applications, electronic businesses, and social network services. </p>
        </div>
      </div>
      <div id="container3">
        <div id="c3-field1">
          <h1>Why learn web development?</h1>
          <strong>In short, job potential. </strong>
          <p>
            Web development is a quickly growing profession. Web developers can freelance or work as internal employees within a company, and many work remotely. In short, it's a great field for anyone who values professional growth and learning opportunities. </p>
        </div>
        <div id="c3-field2">
          <img src="../static/imgs/imgs_for_webDev/undraw_proud_coder_re_exuy.svg">
        </div>
      </div>
      <div id="container4">
        <h1>Wanna take our courses?</h1>
        <div class="btn">
          <button type="submit">
              <a href="courses.html">View</a>
          </button>
      </div>
      </div>
      <div id="container5">
        <div id="c5-field1">
          <h1>Projects made by our students</h1>
        </div>
        <div id="c5-field2">
            <img src="../static/imgs/imgs_for_webDev/screenshots/project1.png" id="slideImg">
        </div>
      </div>
    </div>
    <footer id="foot">
      <div id="f-container1">
          <div class="box box1">
              <div class="box-logo">
                <a href="index.html">
                  <img src="../static/imgs/Mates.png" alt="">
                </a>
              </div>
              <div class="element1">
                  <a href="#"><img src="../static/imgs/icons/facebook-icon.svg" alt=""></a>
                  <a href="#"><img src="../static/imgs/icons/black-instagram-icon.svg" alt=""></a>
                  <a href="#"><img src="../static/imgs/icons/youtube-icon.svg" alt=""></a>
              </div>
              <div class="element2">
                  <img src="../static/imgs/icons/phone-call-icon.svg">
                  <p>+977 9856079257</p>
              </div>
              <div class="element3">
                  <img src="../static/imgs/icons/envelope-line-icon.svg">
                  <p>info@meropadhai.com</p>
              </div>
          </div>
          <div class="box box2">
              <h1>Courses</h1>
              <a href="courses.html">Explore</a>
          </div>
          <div class="box box3">
              <h1>Quick Links</h1>
              <a href="animation.html">Animation</a>
              <a href="cybersec.html">Cyber Security</a>
              <a href="webDev.html">Web Development</a>
          </div>
          <div class="box box4">
              <h1>More</h1>
              <a href="#">Developers</a>
          </div>
      </div>
      <div id="f-container2">
          <p>&copy; 2022,NameCompany. All rights reserved.</p>
      </div>
    </footer>
    <script src="../static/js/nav.js"></script>
    <script src="../static/js/slider.js"></script>
  </body>
</html>
