#mainContainer {
	display: flex;
	margin: 0;
	padding: 0;
	gap: 70px;
}

/* Container1 */
#container1 {
	/* border: 4px solid red; */
	position: relative;
	width: auto;
	height: 100vh;
	overflow: hidden;
	background-blend-mode: overlay;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#background-video {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
	z-index: -1;
}

/* EO Contaienr1 */

/* Container2 */
#container2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 50px;
}

#container2 #c2-field1 {
	display: flex;
	flex-direction: column;
	width: 50%;
	justify-content: center;
}

#container2 #c2-field1 img {
	height: 190px;
	width: 190px;
	border-radius: 50%;
}

#container2 #c2-field1 h2,
p {
	margin: 7px 50px;
}

#container2 #c2-field2 {
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#container2 #c2-field2 img {
	height: calc(32rem - 20px);
	width: calc(20rem - 20px);
}

/* EO Container2 */

/* Container3 */
#container3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#container3 h3 {
	font-size: 35px;
	margin-left: 19rem;
}

/* Animation content  */
.a-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 60px;
	flex-wrap: wrap;
	width: auto;
	padding: 80px;
}

.a-container .box {
	height: calc(22rem - 20px);
	width: calc(15rem - 20px);
	border-radius: 5px;
	overflow: hidden;
	background: #F7F7F2;
	box-shadow: 2px 2px 17px 1px #000a15eb;
}

.a-container .box img {
	height: calc(10rem - 20px);
	width: calc(15rem - 20px);
}

.a-container .box .box-cotent {
	display: grid;
	grid-template-rows: 1fr 4fr 2fr;
	justify-content: center;
	padding: 10px;
	gap: 10px;

}

.a-container .box .box-cotent h2 {
	font-size: 22px;
	color: #1C1C21;
	height: 10%;
}

.a-container .box .box-cotent p {
	font-size: 12px;
	font-weight: 600;
	color: #1C1C21;
	margin: 0;
}

.a-container .box .box-cotent a {
	display: block;
	font-size: 15px;
	text-decoration: none;
	color: #95C623;
	width: fit-content;
	font-weight: 800;
}

@media screen and (max-width: 767px) {

	/* Container1 */
	#container1 {
		width: auto;
		height: 50vh;
	}

	/* EO Contaienr1 */

	/* Container2 */
	#container2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 20px;
		align-items: center;
		padding: 10px 10px;
	}

	#container2 #c2-field1 {
		flex-direction: column;
		height: fit-content;
		width: 100%;
	}

	#container2 #c2-field1 img {
		height: 190px;
		width: 190px;
		border-radius: 50%;
	}

	#container2 #c2-field1 h2,
	p {
		margin: 7px 10px;
	}


	#container2 #c2-field2 img {
		height: calc(32rem - 20px);
		width: calc(18rem - 20px);
	}

	/* EO Container2 */

	/* Container3 */
	#container3 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10px;
		gap: 20px;
	}

	#container3 h3 {
		font-size: 2.4rem;
		margin-left: 0rem;
	}

	/* Animation content  */
	.a-container {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-row-gap: 10px;
		gap: 25px;
		flex-wrap: wrap;
		width: auto;
		padding: 0px;
	}

	.a-container .box {
		height: calc(17rem - 20px);
		width: calc(11rem - 20px);
		overflow: hidden;
	}

	.a-container .box img {
		height: calc(7rem - 20px);
		width: calc(11rem - 20px);
	}

	.a-container .box .box-cotent {
		display: grid;
		grid-template-rows: 0.5fr 4fr 1fr;
		gap: 10px;

	}

	.a-container .box .box-cotent h2 {
		font-size: 15px;
	}

	.a-container .box .box-cotent p {
		font-size: 10px;
		margin: 0;
	}

}

/* iPad / Tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {

	/* Container1 */
	#container1 {
		width: auto;
		height: 50vh;
	}
	/* EO Contaienr1 */

	/* Container2 */
	#container2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 20px;
		align-items: center;
		padding: 10px 10px;
	}

	#container2 #c2-field1 {
		flex-direction: column;
		height: fit-content;
		width: 100%;
	}

	#container2 #c2-field1 img {
		height: 190px;
		width: 190px;
		border-radius: 50%;
	}

	#container2 #c2-field1 h2,
	p {
		margin: 7px 10px;
	}


	#container2 #c2-field2 img {
		height: calc(32rem - 20px);
		width: calc(18rem - 20px);
	}

	/* EO Container2 */

	/* Container3 */
	#container3 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10px;
		gap: 20px;
	}

	#container3 h3 {
		font-size: 2.4rem;
		margin-left: 0rem;
	}

	/* Animation content  */
	.a-container {
		display: grid;
		grid-template-columns: 4fr 4fr 4fr 4fr;
		grid-row-gap: 10px;
		gap: 40px;
		flex-wrap: wrap;
		width: auto;
		padding: 0px;
	}

	.a-container .box {
		height: calc(17rem - 20px);
		width: calc(11rem - 20px);
		overflow: hidden;
	}

	.a-container .box img {
		height: calc(7rem - 20px);
		width: calc(11rem - 20px);
	}

	.a-container .box .box-cotent {
		display: grid;
		grid-template-rows: 0.5fr 4fr 1fr;
		gap: 10px;

	}

	.a-container .box .box-cotent h2 {
		font-size: 15px;
	}

	.a-container .box .box-cotent p {
		font-size: 10px;
		margin: 0;
	}

}