/* EO. Navbar  */
#mainContainer {
  padding: 40px 0 80px 0;
  background: #f7f7f2;
}
/* Explore content */

.upper-content {
  font-size: 45px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 85px;
}
.grid_item {
  height: 432px;
  width: 320px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}
.grid_item:hover {
  transform: translateY(0.3%);
  box-shadow: 0px 2.5px 2.5px rgba(0, 0, 0, 0.5);
}
.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card img {
  display: block;
  width: 100%;
  height: 154px;
  object-fit: cover;
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.card-content h2 {
  font-size: 22px;
}
.card-content h4 {
  font-size: 16px;
}
.card-content strong {
  font-size: 14px;
}
footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer #f-container1 {
  display: flex;
  flex-direction: row;
  /* margin: 0 30px; */
  justify-content: space-between;
  margin: 0 200px;
  gap: 20px;
}
footer #f-container1 .box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
}
footer #f-container1 .box1 .box-logo a {
  text-decoration: none;
  color: #064cd4;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}
footer #f-container1 .box1 .box-logo a img {
  height: 100px;
  width: 190px;
}
footer #f-container1 .box1 .element1 {
  display: flex;
  flex-direction: row;
  gap: 17px;
  line-height: 36px;
}
footer #f-container1 .box1 img {
  height: 24px;
  width: 24px;
}
footer #f-container1 .box1 .element2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 36px;
}
footer #f-container1 .box1 .element3 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 36px;
}
footer #f-container1 .box2 {
  color: #0a033c;
}
footer #f-container1 .box2 h1 {
  font-size: 24px;
  color: #0a033c;
}
footer #f-container1 .box2 a {
  font-size: 16px;
  line-height: 36px;
  text-decoration: none;
  color: #0a033c;
}
footer #f-container1 .box3 {
  color: #0a033c;
}
footer #f-container1 .box3 h1 {
  font-size: 24px;
  color: #0a033c;
}
footer #f-container1 .box3 a {
  font-size: 16px;
  line-height: 36px;
  text-decoration: none;
  color: #0a033c;
}
footer #f-container1 .box4 {
  color: #0a033c;
}
footer #f-container1 .box4 h1 {
  font-size: 24px;
  color: #0a033c;
}
footer #f-container1 .box4 a {
  font-size: 16px;
  line-height: 36px;
  text-decoration: none;
  color: #0a033c;
}
.box2,
.box3,
.box4 {
  margin: 20px 0 0 0;
}

footer #f-container2 {
  text-align: center;
  color: #5a5a5a;
  margin: 30px 0;
}
/* Responsive */
@media screen and (max-width: 767px) {
  /* #mainContainer{
      display: none;
     } */
  #logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #ham {
    display: block;
  }
  #data {
    display: none;
  }
  #navbar {
    flex-direction: column;
    padding: 0;
    align-items: stretch;
  }
  #mdata {
    /* display: flex; */
    flex-direction: column;
  }
  #mdata a {
    text-decoration: none;
    color: #a0a0a0;
    margin: 17px;
    font-size: 14px;
    font-weight: 400;
  }
  #mainContainer {
    padding: 0px;
    padding-bottom: 50px;
  }
  .upper-content {
    font-size: 35px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 85px;
  }
  .grid_item {
    height: 472px;
    width: 320px;
  }
  /* Footer Section  */
  footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  footer #f-container1 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: space-between;
    margin: 0 15px;
    gap: 30px;
  }
  footer #f-container1 .box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
  }

  footer #f-container2 {
    text-align: center;
    color: #040403;
    margin: 30px 0;
  }

  /* EO. Footer Section  */
}
